@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
}
@plugin "daisyui/theme" {
    name: light ;
    --color-primary: #000000; /* set reusable color variable */
    --color-secondary: #FFF9F3;

}

