/* ===========================================================================
   ESSENTIAL GLOBAL STYLES
   These styles set foundational CSS rules. These initial lines ensure
   consistency across various various web browsers, scalability, and
   maintainability.
   =========================================================================== */

:root {
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /*cursor: url("../TemplateAssets/retro-cursor.svg"), auto;*/
}

/* Set core body defaults */
body {
    font-family: "JetBrains Mono", sans-serif;
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
    /*cursor: url("../TemplateAssets/retro-cursor.svg"), auto;*/
}